<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="/">myZOO</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/createanimals">Create Animal <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/animals">Our Animals</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/ourusers">Our Users</a>
          </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
          <button class="btn btn-success my-2 my-sm-0" routerLink="/createuser">Sign Up</button>
        <button class="btn btn-primary my-2 my-sm-0" routerLink="/userlogin">Log In</button>
      </form>
    </div>
  </nav>