<!-- ALERTS FOR FORM VALIDATION -->
<div class="alert alert-success" [style.display]='animalCreatedSucess'>
    <strong> Animal was updated!</strong> Check your colection <a routerLink="/myanimals" class="alert-link">here</a>.
</div>
<div class="container login-container">
    <div class="login-form-1">
        <h3>Edit Animal</h3> <hr>
        <form>
            <div class="form-group">
                <div class="formForAnimalName">             
                    <label for="animalName">Animal Name:*</label>
                    <input type="text" maxlength="25" class="form-control" placeholder="e.g. Furiosa" [(ngModel)]="animalName" name="animalName"/>
                </div>
                <div class="formForSpecie">  
                    <label for="animalSpecie">Specie:*</label>
                    <input type="text" maxlength="25" class="form-control" placeholder="e.g. Cheetah" [(ngModel)]="animalSpecie" name="animalSpecie" />
                </div>

                <div class="formForAge"> 
                    <label for="animalAge">Age:*</label>
                    <input type="text" maxlength="3" class="form-control" placeholder="e.g. 23" [(ngModel)]="animalAge" name="animalAge"/>
                </div> 
                <div class="formForPrice"> 
                    <label for="animalPrice">Price:*</label>
                    <input type="text" maxlength="9" class="form-control" placeholder="e.g. 230€" [(ngModel)]="animalPrice" name="animalPrice"/>
                </div> 
            </div>

            <div class="form-group">
                <label for="description">Description:</label>
                <textarea class="inputForDescription" maxlength="250" cols="40" rows="4" 
                placeholder="Describe your animal in terms of origin, alimentation and natural habitats. (Maximum of 250 letters)"
                [(ngModel)]="animalDescription" name="animalDescription"> </textarea>
            </div>

            <div class="form-group">
                <label for="image">Upload an Image:</label>
                <!-- USING userImageSource -->
                <input type="file" class="form-control inputForImage" placeholder="Images cannot be bigger than 5MB"/>
                <label >Or enter the image URL:</label>
                <!-- USING imageURL -->
                <input type="text" class="form-control" placeholder="Must be an imageURL" [(ngModel)]="animalImage" name="animalImage"/>
            </div>
            
            <!-- This is the messages that appear when the NgModelValidation() is performed -->
            <div class="alert alert-danger missingFields" [style.display]='missingParameters'>Missing One or More Fields.</div>
            <div class="alert alert-danger missingFields" [style.display]='missingNumberParameters'>Age and Price must be a Numbers.</div>
            <button class="btnSubmit" (click)="updateMyAnimal()">Update</button>
        </form>
</div>