body {
    text-align: center;
    color: rgb(255, 255, 255);
    font-weight: bolder;
    width: 100%;
    background-image: url("../../../../myimages/zoo.jpg");
    background-size: cover;
}

@media only screen and (min-width: 900px) {
    body {
        font-size: 3rem;
        min-height: 750px;
    }

    .buttonStyle { 
        text-align: center;
        margin:auto;
        margin-right: 1%;
        border-radius: 5%;
        border: none;
        cursor: pointer;
        font-weight: 600;
        color: #fff;
        display: inline-flex;
        padding: 1%;
}
}

@media only screen and (max-width: 900px) {
    body {
        font-size: 2rem; 
        height: 800px;
        background-size: cover;
    }

    .buttonStyle {
        border-radius: 5%;
        border: none;
        cursor: pointer;
        font-weight: 600;
        color: #fff;
        margin-top: 5%;
        width: 300px;
}
}

.modalStyle {
    font-size: 20px;
    text-align: left;
    color: black;
}

.myMainDivStyle {
    padding: 5%;
}